---
import TablaAparatos from "./TablaAparatos.astro";

interface Aparato {
    id: number;
    nombre: string;
    potencia: number;
    tiempoUso: number;
}

let aparatos: Aparato[] = [
    { id: 1, nombre: "Refrigerador", potencia: 0.5, tiempoUso: 2.4 },
    { id: 2, nombre: "Lavadora", potencia: 0.3, tiempoUso: 1 },
    { id: 3, nombre: "Microondas", potencia: 0.7, tiempoUso: 1 },
    { id: 4, nombre: "Televisor", potencia: 0.2, tiempoUso: 6 },
];

//Metodo agregar aparato
const agregarAparato = () => {
   console.log('[AgregarAparato]', aparatos);
}
---
<div class="container mx-auto p-4">
    <!-- Primera fila -->
    <div class="grid grid-cols-4 gap-4">
        <div class="bg-gray-200 p-4 col-span-3" >
            <TablaAparatos aparatos={aparatos} />
        </div>
        <div class="bg-gray-200 p-4 col-span-1">

            <form class="space-y-6 bg-white p-6 rounded-lg shadow-md">
                <div>
                    <label for="electrodomestico" class="block text-sm font-medium text-gray-700">Tipo de electrodoméstico</label>
                    <select id="electrodomestico" name="electrodomestico" class="mt-2 block w-full border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500">
                        <option value="" disabled selected>Selecciona el electrodoméstico</option>
                        <option value="refrigerador">Refrigerador</option>
                        <option value="lavadora">Lavadora</option>
                        <option value="microondas">Microondas</option>
                        <option value="televisor">Televisor</option>
                    </select>
                </div>
                <div>
                    <label for="kwh" class="block text-sm font-medium text-gray-700">Kw/h</label>
                    <input type="number" id="kwh" name="kwh" placeholder="Kw/h" class="mt-2 block w-full border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500" />
                </div>
                <div>
                    <label for="horas" class="block text-sm font-medium text-gray-700">Tiempo de uso diario</label>
                    <input type="number" id="horas" name="horas" placeholder="Horas uso" class="mt-2 block w-full border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500" />
                </div>
                <div>
                    <button 
                    onclick="{agregarAparato}"
                    class="w-full bg-blue-600 text-white py-3 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-offset-2">
                        Agregar electrodoméstico
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Segunda fila -->
    <div class="mt-4">
        <div class="bg-gray-200 p-4">Columna única

            <div> 
                <button onclick="{agregarAparato}" class="w-full bg-blue-600 text-white py-3 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-offset-2">
                    Calcular Consumo

                </button>
            </div>
        </div>
    </div>
</div>