---
---
<header class="bg-gray-500 bg-opacity-50">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <!-- Logo Section -->
        <div class="flex items-center">
            <div class="bg-green-500 rounded-full w-8 h-8 flex items-center justify-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-white"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M11.3 1.046a.75.75 0 01.7.954l-1.2 4.5h3.45a.75.75 0 01.6 1.2l-6 7.5a.75.75 0 01-1.35-.654l1.2-4.5H4.25a.75.75 0 01-.6-1.2l6-7.5a.75.75 0 011.65-.3z"
                        clip-rule="evenodd"
                    />
                </svg>
            </div>
            <a href="/inicio" class="ml-2 text-xl font-bold">Cálculo Consumo Eléctrico</a>
        </div>

        <!-- Navigation Links -->
        <nav class="flex space-x-8">
            <a href="#" class="text-gray-700 hover:text-black">
                Features
            </a>
            <a href="#" class="text-gray-700 hover:text-black">
                About
            </a>
            <a href="#" class="text-gray-700 hover:text-black">
                Download
            </a>
            <a href="#" class="text-gray-700 hover:text-black">
                Contact
            </a>
        </nav>
    </div>
</header>