---
import logoBlue from '../assets/images/logo_blue.png';
import graficoConsumo from '../assets/images/generacion.png';
---

<div class="gap-4">
    <div class="grid grid-cols-2 gap-0 pb-1">
        <div class="p-4 flex flex-col items-center justify-center">
            <div>
                <img src={logoBlue.src} alt="Logo" class="w-72 h-auto" />
            </div>
            <p class="bg:red; text-gray-50 text-2xl text-center mt-4">
            ¡Bienvenido! Esta web está diseñada para ayudarte a calcular de manera sencilla el consumo de energía eléctrica en tu hogar y obtener una estimación de tu factura. 
            Solo necesitas ingresar los aparatos electrónicos que utilizas, y además recibirás consejos prácticos para ahorrar energía y reducir costos.             
            </p>
            <strong class="text-green-300 text-lg font-semibold mt-2">
            ¡Cuidemos juntos el planeta mientras ahorramos!
            </strong>

        </div>
        <div class="p-4">
                    <div class="flex flex-col pt-6 items-center">
                        <img src={graficoConsumo.src} alt="Descripción de la imagen" 
                        class="w-auto h-auto border border-blue-500" />
                        <p class="text-white text-center mt-2">
                            Matriz de generación de electricidad 2023
                        </p>
                        <a href="https://sen.hn/wp-content/uploads/2024/08/IEASEN-2023_7.8.2024.pdf"
                        target="_blank"
                        class=" text-blue-500 font-bold py-2 px-4 rounded hover:text-white mt-2">
                            Fuente: Centro Nacional de Despacho (CND)
                        </a>
                    </div>

        </div>
    </div>
    <div class="p-1">
        <div class="flex justify-center items-center w-4/5 mx-auto">
            <hr class="w-full border-blue-500 mr-4" />
            <a href="/aparatos" class="w-80 bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 text-center block">
            Calcular Consumo
            </a>
        </div>
    </div>
</div>